scikit-learn
nltk
langchain>=0.1.13
langchain-core
langchain-community>=0.0.10
langchain-classic
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
python-dotenv
tqdm
streamlit>=1.28.0
pyyaml